.default_card {
    border-radius: 30px 10px 10px 0 !important;
    width: 85%;
    
  }
  
  
  
  .bot-message {
    padding: 0.55rem;
    border-radius: 0 8px 8px;
    background-color: #f5f5f5;
    font-size: 0.8rem;
    max-width: 90%;
    /* max-width: 14rem; */
    text-wrap: wrap;
    width: max-content;
  }
  
  .user-message {
    font-size: 0.8rem;
    padding: 0.55rem;
    border-radius: 5px 0 10px 5px;
    background-color: #2e92fd;
    color: white;
    max-width: 90%;
    /* max-width: 14rem; */
    text-wrap: wrap;
    width: max-content;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  .bot-photo-div {
    background-color: #b2cbe4;
    width: 30px;
    border-radius: 50%;
    height: 30px;
  }
  
  .bot-img {
    height: 30px;
    width: 30px;
    /* padding-top: 4px; */
    object-fit: contain;
    border-radius: 50%;
  }
  
  .msg-container {
    padding: 0.75rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;
  }
  
  .bot-msg-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .user-msg-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
  }
  
  .bot-header {
    background-color: #b2cbe4;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  
  }
  
  .header-box-img {
    display: flex;
    gap: 0.5rem;
    align-items: start;
    font-size:16px ;
  }
  
  .header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e92fd;
    padding: 0.6rem;
    border-radius: 0.75rem 0.75rem 0rem 0rem;
  }
  
  .chat-box {
    /* display: grid;
    grid-template-rows: 3.5rem auto 4.5rem; */
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    /* top: 10px; */
    bottom: 10px;
    /* Adjust top value as needed */
  
    /* border: 1px solid #fafafa; */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    /* right: 5rem; */
    border-radius: 0.75rem;
    /* height: 80%; */
    transition: transform 0.4s ease, opacity 0.3s ease;
    box-sizing: border-box;
    background-color: rgb(234, 238, 243);
    overflow: auto;
    /* padding-block-end: 10px; */
  }
  
  .fab-chat-box {
    position: absolute;
    bottom: 2rem;
    right: 5rem;
    height: 40px;
    width: 40px;
    border-radius: 2rem 0.12rem 2rem 2rem;
    background-color: #2e92fd;
  }
  
  .send-button-icon {
    background-color: #2e92fd;
    padding: 0.3rem;
  }
  
  .input-box-chatbot {
    background-color: white;
    padding: 0.1rem;
    border-radius: 0.5rem;
    margin: 0rem 0.75rem 1rem 0.75rem;
  }
  
  .minimized-header {
    position: fixed !important;
    bottom: 5px !important;
    right: 6rem !important;
  }
  
  .vesselinfo-chat-response {
    padding-left: 10px;
  }
  
  .typing {
    align-items: center;
    display: flex;
    height: 17px;
  }
  
  .typing .dot {
    animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
    background-color: #86baf1;
    border-radius: 50%;
    height: 7px;
    margin-right: 4px;
    vertical-align: middle;
    width: 7px;
    display: inline-block;
  }
  .typing .dot:nth-child(1) {
    animation-delay: 200ms;
  }
  
  .typing .dot:nth-child(2) {
    animation-delay: 300ms;
  }
  
  .typing .dot:nth-child(3) {
    animation-delay: 400ms;
  }
  
  .typing .dot:last-child {
    margin-right: 0;
  }
  .typing .dot1 {
    animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
    background-color: black;
    border-radius: 50%;
    height: 14px;
    margin-right: 4px;
    vertical-align: middle;
    width: 14px;
    display: inline-block;
  }
  .typing .dot1:nth-child(1) {
    animation-delay: 200ms;
  }
  .typing .dot1:nth-child(2) {
    animation-delay: 300ms;
  }
  .typing .dot1:nth-child(3) {
    animation-delay: 400ms;
  }
  .typing .dot1:last-child {
    margin-right: 0;
  }
  
  @keyframes mercuryTypingAnimation {
    0% {
      transform: translateY(0px);
      background-color: #64a1f0;
    }
  
    28% {
      transform: translateY(-7px);
      background-color: #98d2ec;
    }
  
    44% {
      transform: translateY(0px);
      background-color: #b7d9f7;
    }
  }
  
  /* .chat-input-wrapper:has(textarea:focus) textarea { */
    /* border: 0px !important; */
  /* } */
  
  .chat-input-wrapper,
  .chat-input-wrapper:has(textarea:focus) {
    border: 3px solid rgb(102, 205, 170);
    box-sizing: border-box;
  }
  
  /* port call css */
  .arrival-row {
    background-color: #adc7dd; /* Change this to your desired color */
  }
  
  .center-title .ant-descriptions-title {
    text-align: center;
    width: 100%;
    color: #fff;
  }
  
  .custom-padding .ant-descriptions-header {
    margin-bottom: 0px;
    padding: 5px 0;
    background-color: rgb(0, 62, 120);
  }
  
  .custom-padding .ant-descriptions-item-content,
  .custom-padding .ant-descriptions-item-label {
    padding: 6px 24px !important;
  }
  
  .chat-slider {
    max-width: 25rem; 
    margin: auto;
    margin-bottom: 2px;
  }
  
  .chat-question-box {
    display: flex;
    flex-direction: column;
  }
  
  .chat-question-box  .custom-icon-card{
    font-size: 40px; 
    padding: 5px;
    /* color: white !important; */
    
   
  }
  .chat-question-box  .custom-question-card{
    font-size: 12px; 
    margin-top: -40px;
    font-weight: 500;
    padding: 8px;
    
   
  }
  
  
  .chat-slider .slick-next:before,
  .chat-slider .slick-prev:before {
    color:rgb(53, 51, 82) !important;
    font-size: 28px;
  }
  
  /* .slider-container {
    background-color: #fff;
  }
  .slider-container:hover {
    background-color: #e6dede;
  } */
  
  .chat-question-box {
    /* padding: 1rem; */
     
    border-radius: 14px;
    /* background-color: #fff; */
    height: 10rem;
    display: flex!important;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
    
  
  }
  
  .default_card .ant-card-body {
    background-color: rgb(102, 205, 170);
    padding: 10px;
  } 
  
  .default_card {
    overflow: hidden;
  }
  
  .default_card2  {
    width: 50%;
    margin-bottom: 5px;
    border-radius: 20px 10px 10px 0 !important;
    overflow: hidden;
  }
  
  .default_card2 .ant-card-body  {
   padding: 0px;
   border-radius: 20px 10px 10px 0 !important;
   border: 5px solid rgb(102, 205, 170) ;
  
  }
  
  .default_card2 .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .default_card2 .image-container img {
    width: 50%;
    height: 50%;
    object-fit: contain;
   
  }
  
  
  .custom-scroll::-webkit-scrollbar {
    width: 6px;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  .custom-scroll::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  
  
  .custom-icon-size {
    font-size: 20px;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  
  .oceannai-logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
  .oceannai-svg-name {
    font-weight: 600 !important;
    font-size: 16px !important;
    letter-spacing: -0.5px;
  }
  
  .oceannai-svg-box {
    border: 1px solid #e0e0e0;
    border-radius: 2rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  
  /* .file-upload-list:hover {
    background-color: #12406a !important;
    color: white !important;
    list-style: none;
  }
  
  .file-upload-list:hover * {
    color: white !important;
  } */
  
  .ellipsisText {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
  
  .chat-history-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 0px !important;
    padding: 2px;
    /* border: 1px solid grey; */
    border-radius: 10px;
    margin-bottom: 2px !important;
  }
  
  .chat-history-item:has(input) {
    border: 2px solid #12406a;
  }
  .chat-history-item input:hover{
    border: none !important;
  }
  .chat-history-item input:focus{
    box-shadow: none !important;
  }
  
  
  .chat-history-item:not(.selected-chat):not(:has(input)):hover {
    background-color: #12406a !important;
    color: white !important;
    border-radius: 5px;
  }
  
  .chat-history-item:not(.selected-chat):not(:has(input)):hover * {
    color: white !important;
  }
  
  .selected-chat {
    background-color: lightgray;
  }
  
  .chat-history-menu-item {
    width: 10rem;
    align-items: flex-start;
  }
  
  .template-svg-box {
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: center;
    width: 100%;
    padding-top: 4rem !important;
    margin-bottom: 4rem;
    gap: 0.25rem;
  }
  
  .oceannai-welcome-heading {
    font-weight: 500 !important;
    font-size: 50px !important;
    letter-spacing: -0.5px;
    line-height: 45px !important;
    background: linear-gradient(45deg, #003e78, #2e92fd);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    margin-top: -2rem !important;
  }
  
  .oceannai-chat-template-box {
    padding: 10px;
    border-radius: 0.8rem;
    height: 6rem;
    display: flex !important;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: #bfbfbf5c;
    transition: 1s ease;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border: 1px black;  */
  }
  
  .slides-container {
    padding-right: 10px;
  }
  .oceannai-chat-template-box:hover {
    background: #fff;
    border: 1px solid lightgray;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 700px;
    margin: 0 auto;
  }
  
  .content-container ul {
    list-style-position: inside;
  }
  
  .oceannai-question-slider .slick-next:before,
  .oceannai-question-slider .slick-prev:before {
    color: #9f9191 !important;
  }
  
  .search-input-box-oceannai {
    background-color: #f4f4f4;
    resize: none;
    border: none !important;
    box-sizing: border-box;
    max-height: 120px;
    overflow-y: auto;
    margin: 0;
    font-size: 14px;
  }
  
  .search-input-box-oceannai:focus,
  .search-input-box-oceannai:hover {
    outline: none;
    border: none !important;
    box-shadow: none;
  }
  
  .search-input-box-oceannai::placeholder{
    color:dimgray !important;
  }
  
  /* ===========Scrollbar CSS================ */
  .chat-history-sidebar::-webkit-scrollbar {
    width: 6px;
  }
  
  .chat-history-sidebar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .chat-history-sidebar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  .chat-history-sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* =========Scroll width Zero=========== */
  .scroll-width-zero::-webkit-scrollbar {
    width: 0px;
  }
  
  .scroll-width-zero::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .scroll-width-zero::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  .scroll-width-zero::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* ===========Custom Scrollbar CSS================ */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  /* .chatbootcss{

  } */

  .ant-popover-content .ant-popover-inner{
    background-color: #ffffff !important;
    width: 400px !important;
    color: black !important;
  }
  .shadow {
    background-color: transparent !important;
    border-radius: 20px;
  }
  .shadow div {
    margin:20px;
    color: transparent !important;
    background-color: transparent !important;
    border-radius: 20px;
    box-shadow: none;
  }

  .shadow div .body {
    margin:20px;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: none;
  }


  .chatbot-container {
    width: 500px;
    /* border: 2px solid black; */
    border-radius: 8px;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: fixed;
    bottom: 80px; /* Adjust above the Chatbot icon */
    right: 60px; /* Align with the Chatbot icon */
    z-index: 1000;  
  }
  
  .chatbot-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(12 79 122);
    color: #fff;
    position: relative;
  }
  
  .chatbot-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .chatbot-title {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
  }
  
  .chatbot-close {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  .chatbot-body {
    padding: 15px;
  }
  
  .chatbot-message {
    font-size: 13px;
    margin-bottom: 10px;
  }
  
  .chatbot-input-group {
    /* display: flex; */
    text-align: right;
  }
  
  .chatbot-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
  }
  
  .chatbot-submit {
    padding: 8px 12px;
    /* background-color: #28a745; */
    background-color: rgb(57, 177, 255);
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  .chatbot-submit:hover{
    background-color: rgb(85 147 188);
  }
  
  .chatbot-footer {
    text-align: center;
    padding: 10px;
    background-color: #e9ecef;
    font-size: 14px;
    color: #5f8cb8;
    font-weight: bold;
    cursor: pointer;
  }
  