.masonaryWrap{border-radius: 10px; overflow: hidden; cursor: pointer;}
.masonaryWrap img {width: 100%; height: auto; transition: transform 0.3s ease;}
.masonaryWrap:hover img {transform: scale(1.1);}
.masonaryWrap .image-container {
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}

.masonaryWrap .image-container img {
  display: block;
  width: 100%;
  height: auto;
}
.masonaryWrap .title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  /* padding: 8px; */
  text-align: center;
  opacity: 1; /* Title is visible by default */
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column
}
.masonaryWrap:nth-child(even) .title{background-color: rgba(46, 146, 253, 0.9);}
.masonaryWrap:nth-child(4n) .title{background-color: rgba(240, 197, 13, 0.9);}

.masonaryWrap .description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0.8rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 8px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.masonaryWrap .image-container:hover .description {
  opacity: 1;
}
/* styles/ using with react example */
.masonry-grid {
  column-count: 3;
  column-gap: 16px;
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: 16px;
}

