.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    background: linear-gradient(to left, transparent 0%, white 100%);
    pointer-events: none;
  }