
.sliderImg{
    width: 100%;
    height: 100vh;
    object-fit: cover;


}

.thumbnailImg{
    border-radius: 12px;
    cursor: pointer;
}

.slider{
    height:80vh;
    margin-top: 2rem;
    position: relative;
    border-radius: 8px;
}

.discription{
    width: 70%;
    margin-top: 8px;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .list .item .content .sliderImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000 40%, transparent
    );
}

.slider .list .item .content{
    position: absolute;
    left: 8%;
    top: 16%;
    max-width: 80%;
    z-index: 1;
 
    color: white;
}

.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content .contentHeading{
    font-size: 80px;
    /* margin: 0; */
}

.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}


@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity:1;
    }
}


.slider .list .item.active p:nth-child(1),
.slider .list .item.active .contentHeading,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}


.slider .list .item.active .contentHeading{
    animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3){
    animation-duration: 1.5s;

}

.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}

.arrows button{
    background-color: #eee5;
    border: none;
    width: 40px;
    height: 40px;
    margin-right: 2rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight:bold;
    color: #eee;
    transition: .5s;
}

.arrows button:hover{
    background-color: #eee;
    color: black;
}


.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index:11 ;
    display: flex;
    gap: 20px;
    width: 100%;
    height: 160px;
    padding: 0px 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content:end;
}

.thumbnail::-webkit-scrollbar{
    width: 0;
}

.thumbnail .item{
    width: 200px;
    height: 80px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}

.thumbnail .item .content .sliderImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}

.thumbnail .item.active{
   filter: brightness(1.5);
}

.thumbnail .item .content{
   position: absolute;
   inset: 5rem 1rem 1rem 1rem;
   color: white;
 }


 @media screen and (max-width:678px){
    .thumbnail{
        justify-content: center;
        gap:10px;
        height: auto;
        bottom: -40px;
    }
    .thumbnail .item{width:50px; height: auto; border-radius: 10px;}
    .thumbnailImg{
        border-radius: 5px;
    }

    .slider .list .item .content .contentHeading{
        font-size: 24px;
        margin: 16px 0px 8px 0px;
        line-height: 32px;
    
    }
    .arrows{
        right: 0px;
        top:10px
    }    
    .arrows button{margin-right:0.5rem; border: 1px solid #fff; border-radius: 3px; width: 30px;  height: 32px;}
    .slider .list .item .content{
        position: absolute;
        left: 8%;
        top: 24%;
        max-width: 80%;
        z-index: 1;
        color: white;
    }
   
    .discription{
        width: 100%;
        font-size: 14px;
    }

    .title{
        font-size: 12px;
    }
 }

 /* @media only screen and (max-width:640px){

 } */
 @media screen and (min-width:768px){
   
    .slider{
        /* margin: 2rem 4rem 2rem 4rem; */
    
        }

        .slider .list .item .content .contentHeading{
            font-size: 80px;
            line-height: 72px;
            /* margin: 0; */
        }

        .content{
            display: flex;
            flex-direction: column;
            gap:16px
        }
    }
