/* MegaMenu.css */
.mainMenu .customMenuTabs .ant-tabs-nav{width: 25%;}
/* .mainMenu .customMenuTabs .ant-tabs-nav .ant-tabs-nav-list{justify-content: center;} */
.mainMenu .customMenuTabs .ant-tabs-nav .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{color: #003172;}
.mainMenu .customMenuTabs .ant-tabs-nav .ant-tabs-nav-list .ant-tabs-ink-bar{display:none; background: #003172; 
  width: 212px;
  height: 1px !important;
  top: auto !important;
  bottom: 0px;}