@media screen and (max-width: 770px) {
    .flex1 {
        margin-top: -95px !important;
    }
    .section3-child1 {
        height: 250px;
    }
}

.oceann-mail-section1 {
    display: flex;
    flex-direction: column;
    gap:36px;
    align-items: center;
    color:black;
    font-family: 'poppins';
    margin-left: auto;
    margin-right: auto;
    animation-name: textanimation;
    animation-duration: 5s;
}   

@keyframes textanimation {
    0%{
        opacity: 0;
    }
    
    25%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

.section2-child1 {
    margin-left: auto;
    margin-right: auto;
    /* max-width: 738px; */
}

.section3 {
    display: flex;
    background-color: #183165;
    /* width: 100%; */
    color: white;
   height:fit-content

}

.section3-child1 {
    border-radius: 0px 0px 20px 20px;
    background-color: #F39C12;
    width: 18px;
    height: 300px;
    /* flex-shrink: 0; */
    margin-left: 6rem;
}

.heading {
    font-size: 32px;
    font-weight: 600;
    
}

.section4 {
    border-radius: 8px;
    background: #F6F6F6;
    box-shadow: 0px 0.24905px 5.61753px 0px
}

.section5-heading {
    font-size: 22px;
    font-weight: 600;
}
.section-5-img {
    margin-left: auto;
    margin-right: auto;
}

.section6 {
    display: flex;
    background-color: #0b9e9c;
    flex-direction: column;
    width: 100%;
    color: white;
    /* min-height: 520px; */
    align-items: center;
    padding-right: 1rem;
}

.rectangleImg1 {
    width: 259px;
    height: 240px;
}
.rectangleImg2 {
    float: right;
    margin-top: -6.4rem;
}
.section6-heading {
    font-size: 40px;
    margin-top: 2rem;
    background: linear-gradient(to left, transparent 0%, transparent 30%, #F39C12 30%, #F39C12 100%);
    background-position: 0 100%;
    background-size: 100% 4px;
    background-repeat: no-repeat;
  }
  
