[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.number-slide1 {
  background: white;
  background: linear-gradient(128deg,
      rgba(64, 175, 255, 1) 0%,
      rgba(63, 97, 255, 1) 100%);
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(128deg,
      rgba(255, 154, 63, 1) 0%,
      rgba(255, 75, 64, 1) 100%);
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(128deg,
      rgba(182, 255, 64, 1) 0%,
      rgba(63, 255, 71, 1) 100%);
  background: linear-gradient(128deg,
      rgba(189, 255, 83, 1) 0%,
      rgba(43, 250, 82, 1) 100%);
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(128deg,
      rgba(64, 255, 242, 1) 0%,
      rgba(63, 188, 255, 1) 100%);
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(128deg,
      rgba(255, 64, 156, 1) 0%,
      rgba(255, 63, 63, 1) 100%);
}

.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(128deg,
      rgba(64, 76, 255, 1) 0%,
      rgba(174, 63, 255, 1) 100%);
}

.ant-popover-inner {
  background-color: #c5c5c5 !important;
  width: 278px !important;
  color: white !important;
}

section.our-partner-logo-sec {
  text-align: center;
  padding-block: 40px;
}

section.our-partner-logo-sec h2 {
  font-weight: 700;
  font-size: clamp(20px, 5vw, 40px);
}

.partner-logo-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 40px;
  filter: grayscale(1);
}

.partner-logo-box:hover {
  filter: none;
}

.partner-logo-box .partner_logo {
  max-width: 150px;
  height: 80px;
}

.partner-logo-box .partner_logo img {
  aspect-ratio: 2/1;
  object-fit: contain;
}

/* added by man */
/* .sliderPartner {filter: grayscale(1);} */
.sliderPartner:hover {
  filter: none;
}

.sliderPartner .react-multi-carousel-track {
  align-items: center;
}

.meetTeams .meetPeople {
  filter: grayscale(1);
  transform: scale(1);
  transition: all 0.2s ease-out;
}

.meetTeams .meetPeople:hover {
  filter: none;
  transform: scale(1.01);
}

.website-otp-verification .ant-otp {
  width: 100%;
  justify-content: center;
}

.website-otp-verification .ant-otp input.ant-input {
  height: 55px;
  width: 55px;
}

.get_quote_form_box .ant-modal-content {
  background: url(/public/card-images/international-Container-Cargo-ship-in-the-ocean.jpg) no-repeat;
  background-size: cover;
  padding: 30px;
}

.get_quote_form_box .ant-modal-content form.ant-form {
  max-width: 400px;
  width: 100%;
  padding: 16px;
  border-radius: 14px;
  backdrop-filter: blur(10px);
  box-shadow: 0px -1px 49px #5082a2;
  background-color: #fff;
}

.qute_tagline {
  max-width: 556px;
  text-align: center;
  width: 100%;
  margin-right: 60px;
}

.get_quote_form_box .ant-form-item {
  margin-bottom: 14px;
}

.get_quote_form_box .ant-form-item .ant-form-item-label.css-dev-only-do-not-override-m4timi {
  padding-bottom: 0px !important;
}

.get_quote_form_box input,
.get_quote_form_box .ant-select-selector,
.get_quote_form_box input:focus,
.get_quote_form_box input:hover,
.get_quote_form_box .ant-input-outlined {
  background: transparent !important;
  border: 0 !important;
  border-bottom: 2px solid navy !important;
  border-radius: 0 !important;
}

.get_quote_form_box .ant-input-number-outlined {
  background: transparent !important;
  border: 0 !important;
}

.get_quote_form_box label {
  font-size: 13px !important;
}

/* .bdrDashed {border: none; border-style: dashed; border-bottom: #c5c5c5;}
.bdrDashed.thin {border-width: 1px;} */
.newsMain img {
  max-width: 100%;
}

.newsMain .newsAvtarWrap {
  display: flex;
}

.newsMain.Feature .listItem,
.newsDetailsMain .listItem {
  padding: 6px;
  transition: all ease-in-out 0.5s;
}

.newsMain.Feature .listItem:hover,
.newsDetailsMain .listItem:hover {
  background-color: #efefef;
}

.newsDetailsMain .entry-meta.entry-meta-divider-vline {
  border-top: 1px dotted #ebebeb;
  border-bottom: 1px dotted #ebebeb;
  padding: 5px 10px;
  margin-bottom: 15px;
  color: #959191;
  font-size: 0.8rem;
}

.newsDetailsMain .entry-meta.entry-meta-divider-vline>*:after {
  content: "|";
  height: auto;
  background: transparent;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.newsDetailsMain .entry-meta>* {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
}

/* .newsMain .listItem:hover{background-color: #efefef;} */
/* body {
  margin:0px !important;
} */

body .dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

body .dialog-content {
  padding: 16px;
}

body .dialogFooter {
  flex-direction: column;
}

.careerDescription .bulletIcon {
  font-size: 0.6rem;
  margin-right: 5px;
}

.careerDescription .MuiListItem-root {
  padding-top: 0px;
  padding-bottom: 0px;
}

.careerDescription .MuiTypography-root {
  font-size: inherit;
}

/* .careerDescription ul{margin-bottom: 20px;} */
/* .chatbootcss .ant-popover-inner{
  background-color: red !important;
} */
#madhu {
  background-color: red !important;
}

/* .chatbootcss {
 
} */

.video-layout-position {
  position: relative;
  left: auto;
  right: auto;
  top: 22%;
}

.video-frame {
  height: 350px;
}

/* Custom dropdown icon css */
.custom-dropdown-icon {
  display: flex;
  align-items: center;
}

.header-login-signup {
  gap: 20px;
}

/* App launch modal css */
.mobile-modal-row .video-frame {
  /* height: 475px; */
}

.mobile-modal-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mobile-modal-row .first-col {
  width: 30%;
}

.mobile-modal-row .second-col {
  width: 70%;
}

.mobile-modal-row .second-col .modal-head-cust {
  background-color: #39b1ff;
  font-size: 18px;
  line-height: normal;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bolder;
  padding: 15px;
}

.mobile-modal-row .second-col .mobile-app-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85%;
  padding: 8px 0;
  width: 100%;
}

.mobile-modal-row .second-col .mobile-app-images .app-link {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
}

.mobile-modal-row .second-col .mobile-app-images .app-link>a {
  margin: 12px 0;
  padding: 5px;
}

.mobile-modal-row .second-col .mobile-app-images .windapp-logo {
  width: 60%;
  height: auto;
}

.video-layout-position .ant-modal-close-icon {
  color: #ffffff;
  background-color: gray;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 15px;
}

/* End App launch modal css */

/* .productsMenu>.bg-white,
.menuOpen.solutions>.menuWrap,
.menuOpen.about>.menuWrap {
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
} */

.menuWrap>div>div .menuItem>div,
.menuOpen.productsMenu ul,
.menuOpen.solutions ul,
.menuOpen.about ul {
  /* background-color: #f7f7f7; */
  border-radius: 10px;
  /* padding: 5px; */
}

/* .menuWrap>div>div .menuItem>div:hover,
.menuOpen.solutions ul:hover,
.menuOpen.about ul:hover,
.menuOpen.productsMenu ul:hover {
  border-radius: 10px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
} */

.menuOpen.solutions>.menuWrap .menuItem>div>h3,
.menuOpen.solutions ul>a>li,
.menuOpen.about ul>a>li,
.menuOpen.productsMenu ul>a>li {
  padding: 10px;
}

.menuOpen.solutions>.menuWrap .menuItem>div>h3,
.menuOpen.solutions ul:hover>a>li,
.menuOpen.about ul:hover>a>li,
.menuOpen.productsMenu ul:hover>a>li {
  border-radius: 10px;
  padding: 10px;
}

.menuOpen.productsMenu h3>a>img {
  width: 25px;
  height: 25px;
}

.menuOpen.about>.menuWrap ul>a>li,
.menuOpen.solutions>.menuWrap .menuItem>div>h3,
.menuOpen.solutions>.menuWrap ul>a>li {
  border-radius: 10px;
  padding: 10px;
}

.download-text-foot {
  font-size: 24px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bottom-footer .first .cust-foot-links_1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bottom-footer .second .cust-foot-links_2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bottom-footer .first .cust-foot-links_1 li {
  margin-right: 10px;
}

.bottom-footer .second .cust-foot-links_2 li {
  margin-right: 20px;
}

.bottom-footer .second>h3 {
  display: flex;
  justify-content: flex-end;
}

.bottom-footer .second .cust-foot-links_2 li:last-child {
  margin-right: 0;
}

.bottom-footer .first .cust-foot-links_1 li a>.download-img-foot {
  width: 95%;
  height: auto;
}

.bottom-footer .first .cust-foot-links_1 li a>.download-img-foot.wapp {
  width: 95%;
  height: 68.39px;
}

/* Media Query for Large screens */
@media (min-width: 1281px) {}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .cust-font-size {
    font-size: 0.8rem;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .bottom-footer .first .cust-foot-links_1 li a>.download-img-foot.wapp {
    width: auto;
    height: 48px;
  }

  .bottom-footer .first .cust-foot-links_1 li,
  .bottom-footer .second .cust-foot-links_2 li {
    margin-bottom: 0;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .video-frame {
    height: 300px;
  }

  .mobile-modal-row .second-col .mobile-app-images {
    height: auto;
  }

  .mobile-modal-row .second-col .modal-head-cust {
    font-size: 14px;
    padding: 10px;
  }

  .bottom-footer .first .cust-foot-links_1 {
    flex-direction: column;
    align-items: flex-start;
  }

  .bottom-footer .second .cust-foot-links_2 {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 67px;
  }

  .bottom-footer .first .cust-foot-links_1 li {
    margin-bottom: 10px;
  }

  .bottom-footer .second .cust-foot-links_2 li {
    padding-bottom: 20px;
  }

  .ourProducts {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .our-prods-slider {
    width: 300px;
  }

  .download-app-foot {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .download-text-foot {
    font-size: 13px;
    height: 30px;
    display: flex;
    align-items: center;
  }

  .social-img-foot {
    width: 25px;
    height: 25px;
  }

  .download-img-foot {
    width: 70px !important;
    /* height: 30px; */
  }
}

.cookie-wrapper {
  display: flex;
  padding: 6px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 3px 10px 0px #798da04d;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999999;
  cursor: pointer;
  bottom: 15px;
  left: 15px;
}

.cookie-wrapper:hover .text_cc {
  display: block;
}

.cookie-wrapper .text_cc {
  font-size: 14px;
  margin-left: 4px;
  display: none;
}

.cookies-modal {
  top: -28px !important;
}

.cookies-modal .cc_body {
  padding: 0 24px 0 0;
  overflow-y: auto;
  box-sizing: border-box;
  height: 350px;
}

.cookies-modal .cc_body .cc_wrapper .cc_list .heading .title {
  font-size: 16px;
  font-family: inherit;
  color: #212121;
  line-height: 24px;
  background: none;
  border: none;
  font-weight: 700;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-transform: none;
  min-height: 0;
  text-shadow: none;
  box-shadow: none;
}

.cookies-modal .cc_body .cc_wrapper .cc_list .heading .status {
  color: #008000;
  font-weight: 600;
  line-height: 24px;
  font-size: 14px;
}

.cookies-modal .cc_body .cc_wrapper .cc_list .heading {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.cookies-modal .cc_body .cc_wrapper .cc_list {
  padding: 15px 0;
  border-bottom: 1px solid #f1eeee;
}

.cookies-modal .cc_body .cc_wrapper {
  list-style: square;
  padding: 0 30px;
}

.cookies-modal .cc_body>p {
  border-bottom: 1px solid #f1eeee;
  padding: 10px 0;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .video-frame {
    height: 10rem;
  }
@media (max-width: 480px){
  .mobile-app-images{
    margin-bottom: 10% !important;
  }
}
@media (max-width: 363px){
 .mobile-app-images{
    margin-bottom: 16% !important;
  }
}

  .mobile-modal-row .second-col .mobile-app-images {
    height: auto;
  }

  .mobile-modal-row .second-col .modal-head-cust {
    font-size: 14px;
    padding: 10px;
  }

  .bottom-footer .first .cust-foot-links_1 {
    flex-direction: column;
    align-items: flex-start;
  }

  .bottom-footer .second .cust-foot-links_2 {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 67px;
  }

  .bottom-footer .first .cust-foot-links_1 li {
    margin-bottom: 10px;
  }

  .bottom-footer .second .cust-foot-links_2 li {
    padding-bottom: 20px;
  }

  .ourProducts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
  }

  .our-prods-slider {
    width: 300px;
  }

  .download-app-foot {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .download-text-foot {
    font-size: 13px;
    height: 30px;
    display: flex;
    align-items: center;
  }

  .social-img-foot {
    width: 25px;
    height: 25px;
  }

  .download-img-foot {
    width: 92px;
    /* height: 30px; */
  }
}

.GlobalLanguage{
  padding: 8px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
}
.GlobalLanguage:hover {
  background-color: #003e78;
  color:white;
  border-radius: 6px;
}

/* End custom dropdown icon css */