/* src/styles/tailwind.css */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=roboto&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "roboto",Sans-Serif,Arial;
  list-style: none;
}

.section-heading {
  font-family: "roboto",Sans-Serif,Arial;
  font-size: 30px;
  font-weight: 500;
  margin-top: 12px;
}

.section-2-cart {
  border-radius: 22px;
  border: 1px solid #e0e0e0;
  background: #fff;
}

.section-2-cart {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.section-2-cart:hover {
  cursor: pointer;
  transform: translateY(10px);
  box-shadow: 0px 2.76726px 2.21381px 0px;
}

.section-3-cart {
  border-radius: 22px;
  border: 0px solid #f2f2f2;
  background: #fff;
}

.section-3-cart {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.section-3-cart:hover {
  cursor: pointer;
  transform: translateY(10px);
  /* box-shadow: 0px 2.76726px 2.21381px 0px; */
}

.platform-section2-cart-heading {
  font-family:"roboto",Sans-Serif,Arial;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

.platform-section2-cart-info {
  color: #9f7272;
}

.section-3-img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  padding-right: 5px;
  top: 50%;
  left: 50%;
}

.platform-section3-cart-heading {
  font-family:"roboto",Sans-Serif,Arial;
  font-size: 20px;
  font-weight: 400;
  flex-shrink: var(2px);
}

.platform-section4-cart-1st-heading {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.section-5-child-2 {
  border-radius: 88px;
}

.bookdemoapooinment {
  min-width: 600px;
  height: 500px;
}

.fade-image {
  animation: fadeAnimation 5s linear 1 forwards;
  /* Run the animation only once and pause at the final state */
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.productLink {
  color: #9f7272;
}

.productLink:hover {
  text-decoration: underline;
  color: navy;
  cursor: pointer;
}

.profile_linkItems__WIWXy {
  cursor: pointer;
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.social-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.ms-login-box {
  overflow: hidden;
  border-radius: 40px;
}

.ms-login-box svg.MS-login path:nth-child(2) {
  display: none;
}

/* 
.react-multi-carousel-list{
  position: unset !important;
  
} */

.ant-modal.attention-modal .ant-modal-content {
  background: url(/public/borderpolar-photographer-AMXFr97d00c-unsplash.jpg);
  background-size: cover;
  background-position: center;
  min-height: 300px;
}

.ant-modal.attention-modal .ant-modal-title {
  opacity: 0;
}

.ant-modal.attention-modal .ant-modal-header {
  background-color: transparent;
}

.ant-modal.attention-modal button.ant-modal-close {
  /* color: white !important; */
}

.enquiryModalBody {
  max-width: 549px;
  margin: 0 auto;
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 16px;
}

.enquiryModalBody a {
  color: #00ffa1;
}

.header-login-signup {
  display: flex;
  gap: 10px;
}

.header-login-signup .LoginButt:hover,
.header-login-signup .signupButt:hover {
  text-decoration: underline;
}

.header-login-signup .LoginButt,
.header-login-signup .signupButt {
  cursor: pointer;
}

.profile_company_name::first-letter {
  text-transform: uppercase;
}

.send_otp_input input.ant-input.ant-input-outlined.ant-otp-input {
  width: 50px;
  height: 50px;
}

.send_otp_input .ant-otp {
  width: 100%;
  justify-content: center;
}

.paymentCard {
  border: 1px solid #bfbfbf;
  border-radius: 7px;
  margin: 15px 0;
  overflow: hidden;
}

.paymentCard .paymentCard-details {
  padding: 8px;
}

.paymentCard h2 {
  background: navy;
  color: white;
  padding: 5px 10px;
}

.detail_list {
  padding: 4px 8px;
  border: 1px dashed;
  border-radius: 7px;
  margin-bottom: 8px;
  position: relative;
}

.payment_status {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid;
  padding: 8px 16px;
  font-size: 13px;
  line-height: 1;
  border-radius: 4px;
  font-weight: 700;
  letter-spacing: 2px;
}

.payment_status.status_true {
  background: greenyellow;
  color: green;
}

.payment_status.status_false {
  background: yellow;
  color: saddlebrown;
}

a.payNow_link {
  background: navy;
  color: white;
  padding: 6px 20px;
  display: inline-block;
  border-radius: 7px;
  font-size: 12px;
  margin: 6px 0;
}
.detail_list p {
  font-size: 14px;
  line-height: 2;
}

.detail_list p span {
  padding-left: 3px;
  font-weight: 600;
}

.detail_list details summary {
  font-size: 12px;
  color: navy;
  text-decoration: underline;
  padding-block: 7px;
  cursor: pointer;
}

.detail_list details p {
  font-size: 12px;
}

.extra_charge {
  column-count: 3;
  padding: 2px 12px;
}

.detail_list.card_statusfalse {
  background: #dcdc0a1c;
}

.detail_list.card_statustrue {
  background: #3fb43f42;
}

button.payment_info_download {
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.query_card {
  background: #c5dddea3;
  padding: 9px 8px;
  column-count: 2;
  font-size: 14px;
  margin-block: 14px;
  border: 1px solid;
  border-radius: 7px;
  line-height: 2;
}

.query_card p span {
  font-weight: 700;
}

/* man css 06-08-2024 */
.menuOpen .menuWrap .menuItem:last-child{border-bottom: none;}

/* Slider css */
.custom-dots{bottom: 20px !important}
.custom-dots li{background-color: #605858; width: 30px !important; margin: 0 4px;}
.custom-dots li button, .custom-dots li.slick-active button {background-color: transparent !important;}
.custom-dots li.slick-active {background-color: #f39c12;}

.ellipsis,
.ellipsis2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Limits the text to 2 lines */
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis2 {
  -webkit-line-clamp: 1; /* Limits the text to 2 lines */
}

.detail_newss_card .ant-image{
  width: 100%;
}

.news_container * {
  font-family: "roboto",Sans-Serif,Arial;
}

.news_row {
  display: flex;
  column-gap: 40px;
}

.news_container {
  /* max-width: 1304px; */
  width: 100%;
  margin: 0 auto;
  padding-inline: 8px;
}

.news_list_sider li.ant-list-item:hover {
  background: #bfbfbf;
}   


.news_container aside.ant-layout-sider.ant-layout-sider-dark {
  max-height: 1000px;
  overflow-y: auto;
}

.news_wrapper {
  margin-top: 100px;
}

.news_card {
  display: flex;
  column-gap: 15px;
  border-bottom: 2px solid #8080803d;
  padding-block: 20px;
}

.news_card .news_card_image {
  min-width: 130px;
  max-width: 130px;
}

.news_card h2.news_card_title {
  font-weight: bold;
}

/* p.news_card_description {
  font-size: 14px;
  color: grey;
} */

.news_page_title {
  padding-block: 20px;
  padding-bottom: 0;
  text-align: center;
}
.news_container h1 {
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
}

.news_page_title p {
  border-bottom: 2px solid #bfbfbf;
  padding-bottom: 26px;
  margin-bottom: 20px;
}

.news_card_content p.news_card_description {
  text-align: justify;
  margin-top: 10px;
}

.detail_news .news_card_content h2.news_card_title {
  font-size: 28px;
  font-weight: 700;
  text-wrap: wrap;
  margin-bottom: 14px;
}

span.publishdate {
  color: grey;
  font-size: 14px;
}

.detail_news_col .news_card_meta {
  font-size: 14px;
  padding-block: 12px;
}

.detail_news_col {
  width: 65%;
}

.news_list_col {
  width: 35%;
  padding: 8px 12px;
}

.news_list_sider li.ant-list-item{
  transition: 0.35s ease;
  padding-inline: 14px;
  border-radius: 5px;
}

.news_list_sider li.ant-list-item.active {
  background: #003e78;
}
.news_list_sider li.ant-list-item.active * {
  color: #fff;
}

.news_list_sider li.ant-list-item.active .ant-list-item-meta {
  align-items: center !important;
}
.news_list_sider li.ant-list-item.active .ant-list-item-meta-avatar {
  display: flex;
}

.news_list_sider li.ant-list-item.active .ant-list-item-meta-avatar .ant-image {
  height: 100%;
}

.news_list_sider li.ant-list-item .ant-list-item-meta-avatar .ant-image img{
  border-radius: 4px;
}


.not-found-page-content {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.not-found-page-content {
  padding: 40px;
  backdrop-filter: blur(20px) brightness(1.4);
  text-align: center;
  border-radius: 8px;
}

.not-found-page-content svg {
  width: 290px;
  margin: 0 auto;
  filter: drop-shadow(5px 6px 1px black);
}

.not-found-page-content h2 {
  font-weight: 900;
  margin: 0;
  margin-top: 20px;
  font-size: 30px;
}

@media screen and (max-width: 600px){
  .news_container .ant-row{
    display: block;
  }
  .news_container .ant-row .ant-col{
    max-width: 100%;
  }

  .news_container .ant-row .ant-col .ant-card .ant-card-body{
    padding: 0px;
  }
}
